@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	border-bottom: 2px outset grey;
}

/* NAVBAR COMPONENT*/
.navbar {
	/*border: 3px outset grey;*/
	width: 100%;
	height: 50px;
	background-color: rgba(71, 62, 62, 1);
	border-bottom: 2px outset grey;
	position: fixed;
	top: 0;
	color: white;
}

.navbar > ul > li {
	display: inline;
	float: right;
	margin-right: 2em;
}

.navbar a:link {
	color: white;
	text-decoration: none;
}
.navbar a:visited {
	color: white;
}
.navbar a:hover {
	color: green;
}
.navbar a:active{
	color: pink;
}

/* SIDEBAR COMPONENT*/
.sidebar {
	height: 100%;
	width: 150px;
	/*margin-top: 50px;*/
	border-right: 2px outset grey;
	position: fixed;
  /*left: 0;*/
}
.sidebar ul {
	top: auto;
	overflow: scroll;
	height: 80%;
}
.sidebar form {
    position: inherit;
    bottom: 0;
}

/* VIEWPORT COMPONENT*/
.viewport {
	margin-left: 150px;
	margin-top: 50px;
	display: flex;
}

/* IDENTIFY COMPONENT*/
.identify {
	height: 100vh;
	max-height: 100vh;
	width: 100%;
	flex: auto;
}

/* CONSOLE COMPONENT*/
.console {
	width: 50%;
	height: 100%;
	border-right: 2px outset grey;
	float: left;
}
.console img {
	border-bottom: 2px outset grey;
	width: 100%;
}
.console input:focus {
	outline: 0;
}

/* INFO COMPONENT*/
.info {
	padding: 1em;
	max-height: 100%;
	overflow: scroll;
}

/* DOCS COMPONENT*/
.docs {
	height: 100%;
	width: 100%;
	padding: 1em;
}
