@import url('https://fonts.googleapis.com/css?family=Roboto|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Kumar+One|Quantico');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: 'Electrolize', sans-serif;
	/*font-family: 'Quicksand', sans-serif;*/
	/*border-bottom: 2px outset grey;*/
	overflow: hidden;
}

a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
}
a:hover {
	color: green;
}
a:active{
	color: pink;
}

/* NAVBAR COMPONENT*/
.navbar {
	padding: 1em;
	padding-right: 2em;
	/*border: 3px outset grey;*/
	width: 100%;
	height: 50px;
	background-color: rgba(71, 62, 62, 1);
	border-bottom: 2px outset grey;
	position: fixed;
	top: 0;
	color: white;
	box-shadow: 1px 1px 26px 0px rgba(0,0,0,0.75);
}
.navbar p {
	font-size: 32px;
	position: absolute;
	top: 5px;
	left: 5px;
	/*margin-top: -0.5em;*/
	/*margin-left: -0.5em;*/
}
.navbar > ul > li {
	display: inline;
	float: right;
	margin-left: 2em;
}

/* SIDEBAR COMPONENT*/
.sidebar {
	/*box-shadow: 1px 1px 26px 0px rgba(0,0,0,0.75);*/
	font-size: 12px;
	height: 100%;
	width: 150px;
	min-height: 760px;
	/*margin-top: 50px;*/
	border-right: 2px outset grey;
	position: fixed;
  /*left: 0;*/
	background-color: rgb(26, 53, 45);
}
.sidebar ul {
	padding: 1.5em;
	/*top: auto;*/
	/*overflow: scroll;*/
	height: 80%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}

.sidebar form {
		/*padding: 1em;*/
		margin: 0.5em;
    /*position: relative;
    bottom: 0;*/
}

/* VIEWPORT COMPONENT*/
.viewport {
	/*font-family: 'Roboto', sans-serif;*/
	margin-left: 150px;
	margin-top: 50px;
	display: flex;
	/*background-color: rgba(219, 184, 149, 0.5);*/
}

/* IDENTIFY COMPONENT*/
.identify {
	height: 100vh;
	max-height: 100vh;
	width: 100%;
	/*flex: auto;*/
}

.visualize {
	width: 100vw;
	height: 100vh;
}

/* CONSOLE COMPONENT*/
.console {
	background-color: rgba(12, 58, 55, 0.03);
	/*min-width: 500px;*/
	width: 60%;
	height: 100%;
	border-right: 2px outset grey;
	float: left;
}

.console img {
	border-bottom: 2px outset grey;
	width: 100%;
}

.console form {
	width: 100%;
	display: flex;
}

.console input {
	height: 300px;
	width: 500px;
}
.console input:focus {
	outline: 0;
}

/* INFO COMPONENT*/
.info {
	padding: 1em;
	max-height: 100%;
	overflow: scroll;
}

/* DOCS COMPONENT*/
.docs {
	height: 100vh;
	width: 100%;
	padding: 1em;
	overflow: scroll;

}

.image-form > geolocation {
 margin: 0 auto;
}

#technologies {
	width: 100%;
	max-height: 98%;
}
