@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
}

.navbar {
	/*border: 3px outset grey;*/
	width: 100%;
	height: 50px;
	background-color: rgba(71, 62, 62, 1);
	position: fixed;
	color: white;
}

.navbar > ul > li {
	display: inline;
	float: right;
	margin-right: 2em;
}

.navbar a:link {
	color: white;
	text-decoration: none;
}
.navbar a:visited {
	color: white;
}
.navbar a:hover {
	color: green;
}
.navbar a:active{
	color: pink;
}





.sidebar {
	height: 100%;
	width: 150px;
	margin-top: 50px;
	border-right: 2px outset rgba(71, 62, 62, 1);
	position: fixed;
  float:left;
}


.sidebar ul {
    /*position: inherit;;*/
	top: auto;
	overflow: scroll;
	height: 80%;
}

.sidebar form {
    position: inherit;
    bottom: 0;
}


.console {
	width: 50%;
	height: 100%;
	border-right: 3px solid grey;
	margin-top: 50px;
	margin-left: 150px;
	float: left;
}


.console img {
	border-bottom: 3px solid grey;
	width: 100%;
}

.console input:focus {
	outline: 0;
}

.docs {
	margin-top: 50px;
	margin-left: 200px;
	float: right;
	/*max-height: 100vh;*/
	/*overflow: scroll;*/
	/*float: right;*/
}

.infoWindow {
	float: right;
	margin-top: 50px;
	margin-left: 60vw;
	height: 90%;
	overflow: scroll;
	position: static;

}
